/* @font-face {
    font-family: "myFont";
    src: url("./fonts/SquadaOne-Regular.ttf");

} */

body {
    /* background-image: url("../img/programming.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background: white;
    /* color: white; */
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/programming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
}


.kodinav {
    position: relative;
    display: flex;
    
}

.navTitle {
    color: white;
    font-size: 23px;
}

.members {
    font-size: 20px;
    color: rgb(233, 225, 225);
    line-height: 50px;
    height: 50px;
    padding-right: 20px;
    padding-left: 82%;

}
.github {
    font-size: 20px;
    color: rgb(233, 225, 225);
    line-height: 50px;
    height: 50px;

}

.wall {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
} 

.title {
    font-size: 90px;
    color: white;
    
} 
.sub-title {
    font-size: 30px;
    color: white;
} 

.about {
    display: flex;
}

.ab {
    font-size: 40px;
    color: white;
}

.info {
    font-size: 20;
    color: white;
}

.sans {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    
    top:20%;
}

.discord {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    width: 150px;
    height: 50px;

    
}